name: Update SVG Version



on:
  push:
    branches:
      - main
  # Runs every 2 minutes
  schedule:
    - cron: '*/2 * * * *'
  workflow_dispatch:
  
jobs:
  update-version:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2

      

    - name: Increment SVG Version
      id: increment_version
      run: |
        current_version=$(grep -oP '(?<=v=)\d+' README.md)
        echo "Current version: $current_version"
        new_version=$((current_version + 1))
        echo "New version: $new_version"
        sed -i "s/v=$current_version/v=$new_version/" README.md
    

    - name: Commit Changes
      run: |
        git config --local user.email "alikeremergen13@gmail.com"
        git config --local user.name "Ali Kerem"
        git add README.md
        git commit -m "Increment SVG version to v${{ steps.increment_version.outputs.new_version }}"

    - name: Push Changes
      uses: ad-m/github-push-action@v0.6.0
      with:
        github_token: ${{ secrets.GH_TOKEN }}
        branch: main
